{% extends 'myapp/base.html' %} {% block content %}



<div class="grid p-10 grid-cols1 lg:grid-cols-3 sm:grid-cols-1">
    <div class="rounded shadow-lg">
        <div>

            <img class="w-60 h-60" src="{{ user.profile.img.url }}" alt="">
        </div>
        <div class="font-bold text-xl mb-2 px-6">{{ user.username }}</div>
        <div class="font-bold text-xl mb-2 px-5">☎️{{ user.profile.phone }}</div>
        <div class="mb-6 py-3 px-3">

            <a class="bg-green-500 text-white py-2 px-5 " href="{% url 'users:createprofile' %}">Edit Profile</a>
        </div>
    </div>
</div>




{% endblock %}